
.div{
    background-color: black;
    display: block;
    width: 100%;
    min-height: 100vh;
    
}

.input:focus{
    outline: none;
}
.first{
 
align-items: center;
justify-content: center;
display: flex;
width: min(450px,80%);

background-color: transparent;
margin: min(50px,6vh) auto 0vh auto;

}

.first input{
    background-color: rgb(26, 25, 25);
    padding: 5px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 40px;
    font-size: 1.4em;
color: aliceblue;
    box-shadow: 0px 0px 4px 1px rgb(84, 85, 85);
    
}



.button_two{
    height: 43px;
    margin: 0px;
    font-weight: bold;
    color: rgb(19, 22, 24);
    background-color: rgb(9, 100, 36);
    border: 0px;
    margin-left:10px;
    border-radius: 3px;
    width: 40px;
}
.button_two:hover{
    background-color: rgb(46, 112, 66);
}

.info{
    display: flex;
    justify-content: space-between;
    margin: 10vh auto 20px auto;
    width: 90%;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(17, 17, 17);
}
.info img{
    width: min(50%,400px);
    max-height: 400px;
    border-radius:5px;
}
@media only screen and (max-width:700px) {
    .info{
        
        flex-direction: column;
        align-items: center;
       
    }
}

.innerdiv{
    color: aliceblue;
    width: 50%;
}
.name{
    color: whitesmoke;
   
    text-align: center;
}
.innerdiv p{
    padding: 10px;
    font-size: max(1.3em,1.9vw)
}
@media only screen and (max-width:700px) {
    .innerdiv{
        
        width: 90vw;
       
    }
}
.nonet{
    
    width: 80%;
    margin:70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nonet img{
    width: min(220px,19vw);
}
.buttons{
    background-color: rgb(27, 27, 26);
    border-radius: 5px;
    display: flex;
    width: 90%;
    padding: 10px;
    align-items: center;
    margin: 40px auto 60px auto;
    justify-content: flex-start;
}
.buttons button{
    background-color: transparent;
    color: rgb(65, 65, 62);
    font-family: 'Fjalla One', sans-serif;
    border: 0px;
    margin-right: 20px;
    border-bottom:  5px solid transparent;
    font-size: min(50px,30vw);
    transition: all .2s linear;
}
.buttons button:hover{
    border-radius: 5px;
    border-bottom:  5px solid rgb(48, 51, 43);
}
.buttons button:active  {
   
    transform:scale(1.1);
}
.d{
    background-color: transparent;
    width: 100%;
    height: 200px;
   overflow: hidden;
    
    
}
.d img{
    width: 16.6666%;
    height: 160px;
    object-fit: cover;
}
@media only screen and (max-height:800px) {
    .d {
        height: 90px;
    }
}
