
.div{
    background-color: black;
    position: relative;
    min-height: 100vh;
    
   
}
.input{
 padding: 0px;
 margin: 0px;
 border: 0px;

 height: 40px;
 font-size: 1.4em;
}
.input:focus{
    outline: none;
}
.first{

justify-content: space-around;
display: flex;
width: 450px;

margin: 7vh auto 0vh;

}
.first input{
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 4px rgb(27, 80, 68);
}
.buttonn{
    height: 40px;
    margin: 0px;
    padding: 10px;
    color: rgb(20, 24, 27);
    font-weight: bold;
    background-color: rgb(133, 130, 130);
    border: 0px;
    box-shadow: 0px 0px 6px 3px rgb(160, 160, 160);
    border-radius: 10px;
}
.buttonn:hover{
    box-shadow: 0px 0px 10px 9px rgb(122, 57, 45);
}

.button_two{
    height: 40px;
    margin: 0px;
    font-weight: bold;
    color: rgb(19, 22, 24);
    padding: 10px 20px;
    background-color: rgb(136, 130, 136);
    border: 0px;
    box-shadow: 0px 0px 6px 3px rgb(129, 129, 129);
    border-radius: 10px;
}
.button_two:hover{
    box-shadow: 0px 0px 10px 9px rgb(99, 35, 99);
}
.info{
    display: flex;
    justify-content: space-between;
    margin: 10vh auto;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(17, 17, 17);
}
.info img{
    width: min(50%,400px);
    max-height: 400px;
    border-radius:5px;
}
.innerdiv{
    color: aliceblue;
    width: 50%;
}
.name{
    color: whitesmoke;
   
    text-align: center;
}
.innerdiv p{
    padding: 10px;
    font-size: max(1.3em,1.9vw)
}
