
.div{
    background-color: black;
    position: relative;
    min-height: 100vh;
    
   
}
.input{
 padding: 0px;
 margin: 0px;
 border: 0px;

 height: 40px;
 font-size: 1.4em;
}
.input:focus{
    outline: none;
}
.first{
align-items: center;
justify-content: center;
display: flex;
width: 450px;

margin: 7vh auto 0vh;

}
.first input{
    background-color: rgb(26, 25, 25);
    padding: 5px;
    box-shadow: 0px 0px 4px 1px rgb(84, 85, 85);
    color: aliceblue;
}



.button_two{
    height: 50px;
    margin: 0px;
    font-weight: bold;
    color: rgb(19, 22, 24);
    background-color: rgb(9, 100, 36);
    border: 0px;
    margin-left:10px;
    border-radius: 3px;
    width: 40px;
}
.button_two:hover{
    background-color: rgb(46, 112, 66);
}
.info{
    display: flex;
    justify-content: space-between;
    margin: 10vh auto;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(17, 17, 17);
}
.info img{
    width: min(50%,400px);
    max-height: 400px;
    border-radius:5px;
}
.innerdiv{
    color: aliceblue;
    width: 50%;
}
.name{
    color: whitesmoke;
   
    text-align: center;
}
.innerdiv p{
    padding: 10px;
    font-size: max(1.3em,1.9vw)
}
.nonet{
    
    width: 80%;
    margin:70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nonet img{
    width: min(220px,19vw);
}
.buttons{
    background-color: aliceblue;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.comics{
    display: grid;
    padding: 20px;
    width: 95%;
    margin: 30px;
    border: 2px solid white;
    margin: auto;
    justify-items: center;
    align-items: center;
    gap:40px 12px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
}