
.div{
    background-color: black;
    position: relative;
    min-height: 100vh;
   
}
.input{
 padding: 0px;
 margin: 0px;
 border: 0px;

 height: 40px;
 font-size: 1.4em;
}
.input:focus{
    outline: none;
}
.first{
    position: absolute;
    top: 20vh;
    right: 0px;
    left: 0px;
justify-content: space-around;
display: flex;
width: 35%;
margin: auto;
}
.first input{
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 4px rgb(27, 80, 68);
}
.buttonn{
    height: 40px;
    margin: 0px;
    padding: 10px;
    background-color: rgb(230, 127, 58);
    border: 0px;
    box-shadow: 0px 0px 6px 3px rgb(122, 57, 45);
    border-radius: 10px;
}
.buttonn:hover{
    box-shadow: 0px 0px 10px 9px rgb(122, 57, 45);
}

.button_two{
    height: 40px;
    margin: 0px;
    padding: 10px 20px;
    background-color: rgb(207, 44, 207);
    border: 0px;
    box-shadow: 0px 0px 6px 3px rgb(114, 7, 114);
    border-radius: 10px;
}
.button_two:hover{
    box-shadow: 0px 0px 10px 9px rgb(99, 35, 99);
}