.main{
    background-color: rgb(105, 54, 12);
    width: 90%;
    margin: auto;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
}
.items{
    display: flex;
    flex-direction: column;
}
.items img{
    width: 100px;
}